@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  background-color: #f8f8f8;
  padding: 20px;
}

.div-box{
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #0056b3;
}

ol,ul{
  padding: 0;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

button {
  font-family: 'Indie Flower', cursive;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

img {
  max-width: 100%;
  height: auto;
}
